# make gitignore
.kdev4/
*.kdev4
.kateconfig
.vscode/
.idea/
.clangd/
.cache/
compile_commands.json
/KoboRoot.tgz
/libnickelclock.so
/src/nickelclock.o
/src/nc_settings.o
/src/nickelclock.moc
/src/nickelclock.moc.o
